<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <form action="/team" method="POST">
  <ol>
  <label for="POST-name">Team Name:</label>
  <input id="POST-name" type="text" name="name">

  <label for="POST-coach">Coach:</label>
  <input id="POST-coach" type="text" name="coach">

  <label for="POST-pg">Point Guard:</label>
  <input id="POST-pg" type="text" name="pg">

  <label for="POST-sg">Shooting Guard:</label>
  <input id="POST-sg" type="text" name="sg">

  <label for="POST-pf">Power Forward:</label>
  <input id="POST-pf" type="text" name="pf">

  <label for="POST-sf">Small Forward:</label>
  <input id="POST-sf" type="text" name="sf">

  <label for="POST-c">Center:</label>
  <input id="POST-c" type="text" name="c">
  
  <button type="submit" value="Submit">Submit</button>
  </ol>
</form>
 </body>
</html>


